.skillsBlock {

    min-height: 100vh;
    /*background-color: #9eeee1;*/
}

.skillsContainer {

    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

.title {
    background-color: #f3f1f1;
}

.skills {
    padding: 1px;
    box-sizing: border-box;
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media (max-width: 768px) {
    .skills {
        justify-content: center
    }
    .skills div:nth-last-child(n+2) {
        margin-bottom: 3px;
    }
}