.header{
    height: 80px;
    /*background-color: #61dafb;*/

    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.headerContainer{
    justify-content: flex-end;
    box-sizing: border-box;
}
@media (max-width: 753px) {
    .headerContainer {
        justify-content: center
    }
}