.worksBlock {
    min-height: 100vh;
    background-color: #f5efe7;
}

.worksContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}

.title {
    background-color: #f3f1f1;
}

.works {
    box-sizing: border-box;
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

@media (max-width: 768px) {
    .works {
        justify-content: center;

    }
    .works div:nth-last-child(n+2) {
        margin-bottom: 3px;
    }

}