.title {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 30px 32px;
}

.title h1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 53px;
    height: 4px;
    width: 30px;
    border-radius: 10px;
    background: #ffb400;
}

.title h1 {
    font-size: 34px;
    font-weight: 900;
    color: #ffb400;
    text-transform: uppercase;
    margin: 0;
}


.title h1 span {
    color: #666;
    font-size: 26px;
    display: block;
}

/*.title span {
    display: block;
}*/

@media (max-width: 414px) {
    .title {
        padding: 10px 15px 0 15px;
    }

    .title h1 {
        line-height: 1;
        font-size: 35px;
    }

    .title h1::before {
        display: none;
    }

    .title h1 > span {
        white-space: normal;
        line-height: 1;
        font-size: 23px;
        padding: 20px 0;
    }
}
